<!DOCTYPE html>
<html>
    <head>
        <title>Test Symfony React Tailwind</title>
    </head>
    <body>
        <h1>Hello Symfony React Tailwind!</h1>
        <div id="root"></div> {# Conteneur React #}
        <script src="{{ asset('build/app.js') }}"></script> {# Inclure le JS compilé par Webpack Encore #}
    </body>
</html>
